* {
    margin:0rem;
    padding:0rem;
}

.centered-container {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}